@charset "UTF-8";


/*Configurações Mobile*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

:root {
    --cor0: #479cc4;
    --cor1: #3a74d8;
    --cor2: #176dd0;
    --cor3: #140b93;
    --cor4: transparent;
    --cor5: #ffff;
}

html, body {
    height: 100vh;
    width: 100vw;

    font-family: Arial, Helvetica, sans-serif;

    background-color: #140b93;
}

main {
    height: 100vh;
    width: 100vw;

    
}

/*Configurações de Entradas*/

#login {
    width: 300px;
    height: 500px;

    display: block;


    background-color: white;
    border-radius: 20px;
    

    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;

    transform: translate(-50%,-50%);
    transition: width .3s, heigth .3s;


}

#login  #imagem {
    background-image: url(../imagens/pexels-jakub-novacek-924824.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;

    display: block;
    height: 200px;
}

#login > #form {
    padding: 10px;
    
}

#form >  h1{
    text-align: center;
    margin-bottom: 20px;
}

#form > p {
    text-align: justify;
}
.accs {
    background-color: #ba2fec;
    padding: ;
    border-radius: 10px;
    margin-top: 10px;
    height: 39px;

    position: relative;

}
#iemail {
    position: absolute;
    top: 50%;
    left: 56%;

    width: 245px;
    padding: 9.8px;
    border: 1px solid black;
    background-color:  #479cc4;
    border-radius: 7px;


    transform: translate(-50%,-50%);
}

#isenha {
    position: absolute;
    top: 50%;
    left: 56%;


    width: 245px;
    padding: 9.8px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: #479cc4;

    transform: translate(-50%,-50%);
}

/*...*/


/*Configuraçoes de Saída*/

#acesso {
    display: block;
    margin-top: 6px;
    padding: 8px;
    border-radius: 10px;
    width: 280px;

    background-color: #65a5c2;
    border: none;
    
    
}

#reset {
    display: block;
    width: 280px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 8px;

    text-align: center;
    color: black;
    text-decoration: none;
    border: 1px solid #65a5c2;

    position: relative;
}

#mail {
    position: absolute;
    top: 50%;
    left: 75%;

    color: var(--cor3);
    
    transform: translateY(-50%);
    
}

#acesso:hover {
    background-color: #5ecfff;
    
}

#reset:hover {
    background-color: #7fcff5;
}
/*...*/


/*Configurações de Icones*/


.material-icons  {
    position: absolute;
    top: 50%;
    left: 5px;

    width: 30px;
    text-align: center;
    color: white;


    transform: translateY(-50%);

}